{% extends 'base.html' %}

{% block content %}
    <p>  {{ user.username }} : نام کاربری </p>
    <p>{{ name }} : نام </p>
    <p> {{ user.email }} : ایمیل  </p>
    <p>
        {% for p in participants %}
             <p>{{ p.quiz }}  : عنوان کوییز </p>
            <p>{{ p.total_score }}  : عنوان کوییز </p>
            {{ p.date }}
            {{ p.wrong_answers }}
        {% endfor %}
    </p>


    <ul>
        {% for q in quiz %}
            <li><a href="{% url 'quiz-students' q.title %}">{{ q.title }}</a></li>
        {% endfor %}
    </ul>



    <a href="{% url 'edit-profile' %}">ویرایش اطلاعات</a>
{% endblock %}